h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert {
    font-size: 1.2rem;
    font-weight: bold;
}

.loading {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(2, 2, 88);
}