h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-variant: small-caps;    
}

h4 {
    font-family: sans-serif;
}

h6 {
    font-family: verdana;
}