  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid center ">
      <a class="navbar-brand " ><i class="bi bi-cart4"></i> Le Marque PASARELA DE PAGOS FAVORITA</a>
    </div>
  </nav>

  <!-- Encabezado -->
  <header class="bg-light py-5">
    <div class="container text-center">
      <h1 class="display-4">Gracias por su compra</h1>
      <h3 class="lead">Total a pagar: <strong>{{total | currency}} </strong></h3>
    </div>
  </header>

  


